<ng-container *ngIf="(topElectricCars$ | async) as topElectricCars">
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Model</th>
        <th>Quantity</th>
        <th>Increase Percent</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let car of topElectricCars"
        [style.background-color]="car.rank! % 2 === 0 ? 'white' : 'grey'"
      >
        <td>{{ car.rank }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.quantity }}</td>
        <td>{{ car.increasePercent }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
