<h1>Add car</h1>
<div class="form-content">
  <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field>
      <mat-label>Rank</mat-label>
      <input matInput formControlName="rank" placeholder="1" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Model</mat-label>
      <input matInput formControlName="model" placeholder="Toyota Camry" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity" placeholder="100" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Popularity Change Percent</mat-label>
      <input
        matInput
        formControlName="popularityChangePercent"
        placeholder="6"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!carForm.valid"
    >
      Submit
    </button>
  </form>
</div>
