.form-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

mat-form-field {
  padding: 0.5em;
  width: 20em;
}

button {
  height: 4em;
  margin-bottom: 1.25em;
  margin-left: 2em;
}

h1 {
  margin: 0.5em;
  font-style: italic;
  font-weight: bold;
}
