<div>
  <h1>Square Calculator</h1>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Enter side length"
      [(ngModel)]="side"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="calculateAll()">
    Calculate
  </button>

  <p *ngIf="perimeter !== null">Perimeter: {{ perimeter }}</p>
  <p *ngIf="area !== null">Area: {{ area }}</p>
</div>
