<h1>Remove car</h1>
<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput formControlName="rank" placeholder="Enter a rank" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!carForm.valid"
  >
    Submit
  </button>
</form>
