<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Enter your credentials.</mat-card-title>
    </mat-card-header>

    <mat-card-content class="login-content">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field class="login-fields">
          <input matInput placeholder="Username" formControlName="username" />
        </mat-form-field>

        <mat-form-field class="login-fields">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
