.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
}

.login-fields {
  width: 18em;
}

.title {
  padding: 1em 1em 1em 0.1em;
  font-size: 1.5em;
}
