<div>
  <h1>Rectangle Calculator</h1>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Enter length"
      [(ngModel)]="length"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      placeholder="Enter width"
      [(ngModel)]="width"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="calculateAll()">
    Calculate.
  </button>

  <p *ngIf="perimeter !== null">Perimeter: {{ perimeter }}</p>
  <p *ngIf="area !== null">Area: {{ area }}</p>
</div>
